@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
}

.fixed_button {
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
  padding: 10px;
  background-color: green;
  cursor: pointer;
}
